<div id="<%= dom_id volume %>">
  <p>
    <strong>Code:</strong>
    <%= volume.code %>
  </p>

  <p>
    <strong>Begin:</strong>
    <%= volume.begin %>
  </p>

  <p>
    <strong>End:</strong>
    <%= volume.end %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= volume.size %>
  </p>

  <p>
    <strong>Operator:</strong>
    <%= volume.operator %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= volume.region %>
  </p>

  <p>
    <strong>Unn:</strong>
    <%= volume.unn %>
  </p>

</div>
